<!DOCTYPE html>
<html lang="en">
    <head>
    <meta name="description"  content="{{ if .IsHome  }}{{ $.Site.Params.description }}{{else}}{{.Description}}{{ end }}" />

        <title> {{ .Title }}  </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="/mybulma/css/mystyles.css">
        <link rel="icon" href="/favicon.ico">
        <script src="/js/main.js"></script>
      


</head>
    <body style="background: rgba(255, 255, 255, 0.144);" >
        {{- partial "header.html" . -}}
       
        {{- block "main" . }}{{- end }}
     
        {{- partial "footer.html" . -}}
        
    </body>
</html>
